.DS_Store
#credentials.js
_docs/_design/screenshots
files_new
files_new/*
full_reports_good/*
full_reports_good
files_extra
files_extra/*
files
files/*
reports
reports/*
water_rights_data
water_rights_data/*
water_rights_data_first_batch
water_rights_data_first_batch/*
water_rights_full_reports
water_rights_full_reports/*
water_rights_gis_data
water_rights_gis_data/*
water_rights_object_ids_gis
water_rights_object_ids_gis/*
water_rights_reports
water_rights_reports/*
server_data
server_data/*