/*<!-- ============ Navbar ============ -->*/ 

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  border-width: 0px;
  position: relative;
  z-index: 7;
  -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
  -moz-box-shadow: 0 0px 0px rgba(0,0,0,0);
  box-shadow: 0 0px 0px rgba(0,0,0,0);
  border-bottom: 2px solid #dcdcdc;
}

.navbar-inner {
  /*background: rgba(232,232,232,0.85);*/
  background: rgba(232,232,232,1);
  padding-right: 0px;
  padding-left: 0px;
}

.navbar .brand {
  font-size: 25px;
  font-weight: bold;
  color: #6d6d6d;
  text-shadow: none;
}

ul.nav {
  width: 33%;
  /*background-color: rgba(215,215,233,.65);*/
  background-color: rgba(215,215,233,1);
}

ul.nav>li {
  width: 25%;
  text-align: center;
  font-size: 1.25em;
  font-weight: normal;
  line-height: 10px;
  padding: 5px 0 5px 0;
}

.navbar .nav > li > a {
  color: #8a8a8c;
  text-shadow: none;
}

.navbar .nav > li:last-child > a {
  border-right: none;
}

.navbar .nav > li > a {
  color: #8a8a8c;
  text-shadow: none;
  border-right: 2px solid #c8c8df;
}

.navbar a.brand {
  margin-left: 5px;
}


/*<!-- ============ Global / Content ============ -->*/ 

body {
  /*background: #e5e5f7;*/
  background-color: #fff;
  color: #514E48;
}

.modal {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  /*border: 1px solid #e0e0e0;*/
}

.modal-body {
  padding: 30px 0px 30px 30px;
}

.modal-body-inner {
  /*display: table;*/
  /*height: 300px;*/
}

.modal-body-inner>p.modal-text {
  padding: 0 0px 30px 0px;
}

.modal-body-inner>p.modal-text:last-child {
  padding: 0 0px 0px 0px;
}

p.modal-text {
  padding: 0 0px 20px 0px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

button.close {
  font-size: 2em; 
  padding: 12px 16px;
}

.well h3,
.well h4 {
  margin: 10px 30px;
}

#frame-color {
  /*background-color: #d7d7e9;*/
  background-color: #fff;
  /*padding-left: 0px;
  padding-right: 0px;*/
}

.frame-wrap {
  padding: 30px 10px 30px 10px;
}

.img-polaroid-override {
  /*padding: 20px 0px 20px 0px;*/
  background-color: none;
  border: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

section#about {
  border-top: 2px solid #dcdcdc;
  height: 200px;
  /*background: #e8e8e8;*/
  background: #f3f3f3;
  padding: 90px 0;
}

#about #about-inner-wrap {
  width: 880px;
  margin: 0 auto;
  color: #6d6d6d;
}

#logo-text h1 {
 font-size: 3.5em;
 line-height: 50px;
 color: #6d8ac4;
 text-transform: uppercase;
 text-align: right;
}

span#kern1 {
  letter-spacing: 2px;
}

#summary-wrap {
  margin-top: 25px;
}

.highlight-blue {
  color: #6d8ac4;
}

/*<!-- ============ Map Stuff ============ -->*/ 

#map-outer-container {
  margin-top: -40px;
  width: 100%;
}

#map-outer-container .zoomer {
  margin-top: 40px;
  margin-left: 16px;
  width: 28px;
  height: 28px;
  -webkit-border-radius: 0 0 0 0;
   -moz-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
}

.zoom-way-in {
  font-weight: bold;
  cursor: pointer;
}

#map-container {
  width: 100%;
  height: 100%;
  min-height: 720px;
  background: #e5e5f7;
}

#map-screen {
  width: 100%;
  height: 100%;
  min-height: 630px;
  background: rgba(256,256,256,0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
}

.marker-image {
  width:10px;
  height:10px;
  margin-left:-5px;
  margin-top:-5px;
  pointer-events: all;
  position:absolute;
}
.marker-image.sensor_usgs{

  width:15px;
  height:15px;
}
.marker-image.search {
  width:20px;
  height:20px;
}

.map-attribution {
  background:#F9F0DC;
}

/*<!-- ============ data panel ============ -->*/ 

#data-panel {  
  position:absolute;
  overflow-y: scroll;
  overflow-x: hidden; 

  top:40px;
  right:0px;
  height: 680px;
  width: 33%;
  background: rgba(215,215,233,.85);
  z-index:7;
  visibility: hidden;
}

#search-panel input.search-holders {
  /*margin: 0 0px 0 30px;*/
}

.filters {
  position: relative;
  padding: 30px;
}

input[type="text"], input {
  width: 280px;
  border: 1px solid #e0e0e0;
  font-size: 20px;
  padding: 10px 6px 10px 6px;
  line-height: 1.1;

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

i.icon-override {
  color: #fff;
  display: block;
  padding: 4px;
}

#search-button {
  background-color: #6d8ac4;
  border: none;
  float: right;
}

#search-button:hover {
  background-color: #91a7d3;
}

#search-help {
  color: ##555;
  font-size: 1em;
}

#search-panel .list-content{
  overflow-y: scroll;
  padding: 10px 10px 20px 10px;
  font-size: 1.2em;
  max-height: 350px;
  background: rgba(256,256,256,0.5);
  margin: 20px 30px;
  display: none;
}

.panel {
  position: absolute;
  display: inline-table;
/*   padding: 30px; */
  width: 100%;
  float: left;
}

#search-panel h4.title,
#sensors-panel h4.title,
div.data-box .data-title {
  margin: 0 0 0 0;
  padding: 30px 30px 0px 30px;
  clear: both;
  display: block;
}

div.data-box h4 {
  padding: 30px 30px 0px 30px;
}

div.data-box .data-title h4 {
  padding: 0;
}

p {
  padding: 0 30px 30px 30px;
}

ul.data-list {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 30px 30px 30px;
  clear: both;
}

div.data-boxes {
  position: relative;
  padding: 30px;
}

div.data-box {
  background-color: #fff;
  width: 100%;
  margin: 0 0px 30px 0px;
  border: 1px solid #e0e0e0; 
}

div.data-box h4 {
  line-height: 1.2em;
  margin-bottom: 30px;
}

/*<!-- ============ tooltips ============ -->*/ 

.map-tooltip {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  padding: 20px;
  height: auto;

  min-width:180px;
  max-width:360px;
  min-height:200px;
  max-height:400px;
    width:220px\8; /*< IE 9*/
  width: 360px;
  overflow:auto;
  z-index: 6;
  cursor: pointer;
}

.map-tooltip .content {
  background: #ffffff;
  padding: 10px;
  display: block;
  color: #6d6d6d;
  border: 1px solid #cccccc;
  height: 7em;
}

.map-tooltip .content:before{
  content: "WATER RIGHT";
  display: block;
  color: #a8a8a8;
  font-size: 0.8em;
}


.map-tooltip .content.sensor:before{
  content: "STREAM GAGE";
  display: block;
  color: #a8a8a8;
  font-size: 0.8em;
}


.map-tooltip .open {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  color: #000;
}

.map-tooltip .open a {
  text-decoration: none;
}

#rights-panel h4.title,
#sensor-panel h4.title,
.map-tooltip span.name {
  margin-top: 0;
  font-size: 1.6em;
  font-weight: bold;
  text-transform: capitalize;
  display: inline-block;
  float: left;
  width: 68%;
  margin-right: 5px;
  height: auto;
  cursor: pointer;
}

#sensor-panel span.diversion,
#rights-panel span.diversion,
.map-tooltip span.diversion {
  width: 28%;
  display: inline-block;
}

#sensor-panel span.diversion-amount,
#rights-panel span.diversion-amount,
.map-tooltip span.diversion-amount {
 font-size: 1.6em;
 background: #ffe3ee;
 color: #333333;
 text-align: center;
 padding: 5px 15px 5px 15px;
 display: block;
 font-weight: bold;
 overflow-x: hidden;
}

.map-tooltip .sensor span.diversion-amount,
#sensor-panel span.diversion-amount {
 background: #efefef;
}

#rights-panel span.diversion-unit,
.map-tooltip span.diversion-unit {
 font-size: 0.8em;
 color: #6d6d6d;
 text-align: center;
 padding: 5px 15px;
 display: block;
 line-height: 1em
}

.map-tooltip span.application_pod, 
.map-tooltip span.load_id {
/*   display: none; */
  font-size: 0.1em;
}

span.diversion-highlight {
  font-size: 1.2em;
  background: #ffe3ee;
  color: #333333;
  text-align: center;
  padding: 5px 5px 5px 5px;
  display: inline-block;
  font-weight: bold;
  overflow-x: hidden;
}

/*<!-- ============ Responsive Stuff / Media Queries ============ -->*/ 

 /* Landscape phones and down */
@media (max-width: 480px) { 
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
}

/* Large desktop */
@media (min-width: 1200px) { 
}


@media (max-width: 480px) { 
  .iphone-debug {
    padding: 10px;
    color: #000;
    background: #fff;
    margin: 20px;
    display: none;
  }
}



#legend {
  position:absolute;
  top:360px;
  height: 130px;
  width: 100px;
  left:0px;
  z-index:999;
  background: rgba(215,215,233,.85);
  font-size: 0.8em;
  line-height: 1em;
  padding: 4px;
  
}

#legend dt {
float: left;
width: 80px;
}
#legend dd {

}

#pan {
  position:absolute;
  top:110px;
  left:12px;
  z-index:999;
  }
.wrapper {
  position:relative;
  }
#pan .wrapper .panner {
  background:#fff;
  top:0;
  position:absolute;
  left:0;
  padding:5px;
  width:28px;
  height:29px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align:center;
  -webkit-user-select:none;
  border: 2px solid #bbb;
  box-sizing: border-box;
  background: #fff;
  overflow: hidden;
  display: block;
}

#pan .panner#left { top:28px; }
#pan .panner#right { top:28px; left:56px; }
#pan .panner#down { top:56px; left:28px; }
#pan .panner#up { top:0px; left:28px; }

#pan a.panner {
  text-decoration: none;
  font-weight: bold;
  color: #6d6d6d;
  cursor: pointer;
  line-height: 0.9em;
  font-size: 1.1em;
}

.navbar .nav > li a.active,
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  color: #555;
  text-decoration: none;
  background-color: inherit;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #000;
}

.search-alert,
.alert {
  margin: 10px 30px;
  padding: 10px;
  background: rgba(256,256,256,0.3);
  text-shadow: none;
  border: none;
  -webkit-border-radius: none;
  border-radius: 0;
  color: #514E48;
}

.sponsors ul li {
  list-style: none;
  padding-bottom: 60px;
  display: inline-block;
  margin-right: 60px;
}

.sponsors ul {
  margin-top: 30px;
  margin-bottom: 30px;
}


.pager {
  margin: 0;
}

.pager a {
  text-decoration: none;
  font-weight: bold;
  color: #514E48;
  cursor: pointer;
}